settings:
    buzz:
        curl_timeout: 15
credentials:
    github:
        username: username
        token: token
    hipchat:
        token: token
        room: Room
        from: Metrics Game
    slack:
        endpoint: http://your.slack.integration.webhook.endpoint/
        room: #channelname
        from: Metrics Game
    bitbucket:
        oauth1:
            key: oauth_consumer_key
            secret: oauth_consumer_secret
repositories:
    github:
        my_username:
            - repository1
            - repository2
    bitbucket:
        my_username:
            - repository1
            - repository2
